*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(102, 102, 102, 0.1), rgba(102, 102, 102, 0.1)), url(c2a7bac8-741c-45eb-924a-4449b68248fa.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav{
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 70px;
    padding: 2% 6%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.nav h2 a{
    font-size: 40px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
.nav h2 a:hover{
    color: blue;
}
#title{
    color: blue;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    transition: all .5s linear;
}
.nav-links ul li a:hover{
    color: blue;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background-color:rgb(255,255,0);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 80%;
}
.nav .active {
    background-color: #e41c1c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
.nav.active a {
    color: #000;
  }
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h2{
    font-size: 70px;
    margin: 10% 0% 1% 0%;
}

.text-box p{
    font-size: 30px;
    margin: 20px 0px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.hero-btn:hover{
    border: 1px solid blue;
    background-color: blue;
    color: white;
}
/*
nav .fa{
    display: none;
}
@media(max-width: 800px)
{
    nav .nav-links ul li{
        display: block;
        padding: 4px 12px; 
    } 
    nav{
        margin-bottom: 50px;
    }
     nav .nav-links{
        position: relative;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    nav .nav-links ul{
        padding: 30px; 
    }
}
*/
.courses{
    width: 90%;
    margin: 5% 5% 2% 5%;
    text-align: center;
    padding: 50px 20px 20px 20px;
    background-color: rgba(132, 218, 132, 0.2);
    border-radius: 10px;
}
.courses h2{
    font-size: 40px;
    font-weight: 600;
    color: blue;
}
.courses h2::after{
    content: '';
    width: 15%;
    height: 5px;
    background-color: black;
    display: block;
    margin: auto;
}
.courses p{
    font-size: 30px;
    padding: 10px;
}
.row{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 31%;
    background-color: rgb(255,255,255);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
.col h3{
    text-align: center;
    font-size: 40px;
    color: blue;
}
.col h3::after{
    content: '';
    width: 80%;
    height: 5px;
    background-color: black;
    display: block;
    margin: auto;
}
.col p{
    font-size: 20px;
    margin-bottom: 10px;
}
.col:hover{
    box-shadow: 0 0 50px 0px rgba(94, 35, 196, 0.4);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.prices{
    width: 90%;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 153, 0.9);
    border-radius: 10px;
}
.prices h2{
    font-size: 40px;
    margin: 5px;
    color: blue;
}
.prices h2::after{
    content: '';
    width: 12%;
    height: 5px;
    background-color: black;
    display: block;
    margin: auto;
}
.prices p{
    font-size: 30px;
}
.row-prices{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.col-prices{
    flex-basis: 31%;
    background-color: rgb(255,255,255);
    padding: 20px 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}
.col-prices h3{
    color:blue;
    font-weight: 600;
    font-size: 35px;
    margin: 5px;
}
.col-prices h3::after{
    content: '';
    width: 80%;
    height: 5px;
    background-color: black;
    display: block;
    margin: auto;
}
.col-prices p{
    color: black;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}
.col-prices:hover{
    box-shadow: 0 0 50px 0px rgba(94, 35, 196, 0.4);
}
.col-prices img{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.form{
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: azure;
}
.form h2{
    font-size: 40px;
    color: Blue;
    margin: 5px;
}
.container{
    display: flex;
    margin: 20px;
}
form{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.65);
}
.form-group label{
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.form-group input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid silver;
    
}
.btn{
    background-color: blue;
    width: 80%;
    margin: 5% 0 5% 50%;
    padding: 12px 20px;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: .5s;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.btn:hover{
    background-color: black;
}
form:hover{
    box-shadow: 0 0 20px 0px rgba(150, 131, 184, 0.4);
}
.rowlogin{
    width: 90%;
    display: flex;
}
.footer{
    background-color: black;
    text-align: center;
    height: 70px;
    padding: 20px;
}
.footer p{
    color: white;
    font-size: 30px;
}
.footer p span{
    color: blue;
    font-weight: 600;
}
@media(max-width: 700px){
    .row-prices{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .col-prices img{
        width: 70%;
    }
}